* {
  margin: 0;
  padding: 0;
}
body {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  font-size: 18px;
  font-family: sans-serif;
}
h2 {
  color: #000;
  margin-top: 20px;
  margin-bottom: 10px;
}
h3 {
  color: #4c545d;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  max-width: 600px;
  color: #9fabb2;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: center;
}

.container {
  display: grid;
  text-align: center;
  padding: 40px;
}
.hero,
.snippets,
.fuatures,
.access-anywhere,
.tools,
.workflow,
.bag-campany,
.Doewnlode {
  margin: 40px 0;
}
/* article div {
  text-align: center;
} */
button {
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
}
.IOS-button {
  background-color: #26baa4ff;
}
.Mac-button {
  background-color: #6173ff;
}
