* {
  margin: 0;
  padding: 0;
}
body {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3 {
  color: #4c545d;
  margin-top: 20px;
  margin-bottom: 10px;
}
h2 {
  color: #4c545d;
  margin-top: 20px;
  margin-bottom: 10px;
}
h1,
h2,
h3 {
  font-weight: 600;
}
p {
  max-width: 600px;
  color: #9fabb2;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;

  line-height: 1.6;
  text-align: center;
}

.container {
  display: grid;
  text-align: center;
  padding: 40px;
}
.hero,
.snippets,
.fuatures,
.access-anywhere,
.tools,
.workflow,
.bag-campany,
.Doewnlode {
  margin: 60px 0;
}

button {
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
}
.IOS-button {
  background-color: #26baa4ff;
  transition: background-color 0.3s;
}
.IOS-button:hover {
  background-color: #20a18f;
}

.Mac-button {
  background-color: #6173ff;
  transition: background-color 0.3s;
}

.Mac-button:hover {
  background-color: #5262e0;
}

.fuatures-computer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.fuatures-computer p {
  max-width: 300px;
}

.tools {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.largest-companies {
  display: flex;
  justify-content: center;
  gap: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 200px;
}
footer .links {
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer .social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}
