* {
  margin: 0;
  padding: 0;
}
body {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4 {
  color: #4c545d;
  margin-top: 20px;
  margin-bottom: 10px;
}
h2 {
  color: #4c545d;
  margin-top: 20px;
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4 {
  font-weight: 600;
}
p {
  max-width: 600px;
  color: #9fabb2;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;

  line-height: 1.6;
  text-align: center;
}

.container {
  display: grid;
  text-align: center;
  padding: 40px;
  row-gap: 60px;
}
.hero,
.snippets,
.fuatures,
.access-anywhere,
.tools,
.workflow,
.bag-campany,
.Doewnlode {
  margin: 60px 0;
}
/* button */
.btn {
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
}
.btn--ios {
  background-color: #26baa4ff;
  transition: background-color 0.3s;
}
.btn--ios:hover {
  background-color: #20a18f;
}

.btn--mac {
  background-color: #6173ff;
  transition: background-color 0.3s;
}

.btn--mac:hover {
  background-color: #5262e0;
}
/* end button */

/* fuatures */
.fuatures {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.fuatures__text p {
  max-width: 300px;
}
/* end fuatures */

/* workflow */
.workflow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}
.workflow__title {
  grid-column: 1/-1;
}

.workflow__tools {
  grid-row: 1/-1;
  column-gap: 30px;
}
/* end workflow */

.largest-companies {
  display: flex;
  justify-content: center;
  gap: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 200px;
}
footer .links {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.links a {
  text-decoration: underline dotted;
  color: hsl(210, 10%, 33%);
  transition: color 0.3s;
}

.links a:hover {
  color: #26baa4ff;
}
footer .social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}
