* {
  margin: 0;
  padding: 0;
}
.container {
  width: auto;
  height: auto;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
  /* font-weight: 400px; */
}
h1,
h2,
h3,
h4 {
  color: #4c545d;
  margin-top: 20px;
  margin-bottom: 10px;
}
h2 {
  color: #4c545d;
  margin-top: 20px;
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4 {
  font-weight: 600;
}
p {
  max-width: 600px;
  color: #9fabb2;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;

  line-height: 1.6;
  text-align: center;
}

.container {
  display: grid;
  text-align: center;
  margin: 80px 50px;
  row-gap: 100px;
}

/* button */
.btn {
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
}
.btn--ios {
  background-color: #26baa4ff;
  transition: background-color 0.3s;
}
.btn--ios:hover {
  background-color: #20a18f;
}

.btn--mac {
  background-color: #6173ff;
  transition: background-color 0.3s;
}

.btn--mac:hover {
  background-color: #5262e0;
}
/* end button */

/* fuatures */
.fuatures {
  display: flex;
  justify-content: center;
  gap: 15px;
}
/* .fuature__image {
  width: 100%;
} */
.fuatures__text p {
  max-width: 300px;
}
/* end fuatures */

/* workflow */
.workflow {
  display: grid;
  gap: 40px;
}
.workflow__title {
  text-align: center;
}

.workflow__tools {
  display: flex;
  justify-content: center;
  gap: 30px;
}
/* end workflow */

/* largest */
.largest-companies {
  display: flex;
  justify-content: center;
  gap: 30px;
}
/* End largest */

/* Doewnlode */
/* End Doewnlode */

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 200px;
}
.footer__links {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer__links a {
  text-decoration: underline dotted;
  color: hsl(210, 10%, 33%);
  transition: color 0.3s;
}

.footer__links a:hover {
  color: #26baa4ff;
}
.footer__social-media {
  display: flex;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}
.footer__icon:hover {
  transform: scale(1.2);
}
/* end footer */
