* body {
  margin: 0;
  padding: 0;
  width: 1440px;
  height: auto;
  margin: 0 auto;
  font-size: 18px;
  font-family: sans-serif;
}
h2 {
  color: #000;
}
h3 {
  color: #4c545d;
}
p {
  color: #9fabb2;
}

.container {
  display: grid;
  justify-items: center;
  padding: 40px;
}
div {
  max-width: 700px;
  text-align: center;
}
